body{
    background-color: #171717;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

div{
    margin-top: 100px;
}

h1{
    color: #818181;
}
button{
    align-items: center;
    background-color: #818181;
    border: none;
    color: #171717;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 999px;
}

.volver_btn{
    font-size: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.salud{
    color: #b41717;
    font-weight: bold;
    text-shadow: 0 0 10px #b41717, 0 0 20px #b41717;
    animation: salud 1s infinite alternate;
}

.fuerza{
    color: #17b4b4;
    font-weight: bold;
    text-shadow: 0 0 10px #17b4b4, 0 0 20px #17b4b4;
    animation: fuerza 1s infinite alternate;
}

.energia{
    color: #b4b417;
    font-weight: bold;
    text-shadow: 0 0 10px #b4b417, 0 0 20px #b4b417;
    animation: energia 1s infinite alternate;
}

#brillo{
    color: #4b7174;
    font-weight: bold;
    text-shadow: 0 0 10px #4b7174, 0 0 20px #4b7174;
    animation: brillo 1s infinite alternate;
}